/2023-03-08_gestio10_casa_felipe.docx
/calibracion.py
/consulta_clima copy.py
/consulta_clima forecast.py
/consulta_clima.py
/curso_ia.py
/graficos.py
/graficos_forecast.py
/inyecta_data.py
/prompt.txt
/prompt_validador_web.py
/recolector_mediciones.py
/recolector_medicionv2.py
/recolector_medicionv2_deprecado.py
/riego_automatico.code-workspace
/sugerencias.txt
/test
/test.py
/test2.py
/test3.py
/text.txt